<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://use.typekit.net/uvu6hds.css">
<link rel="stylesheet" type="text/css" href="../../static/crayonApp/landing.css">

</head>

<body>
<div id="header">
</div>

<div id="content">
    <div id="Crayon">
      <div><h1>CRAYON</h1></div>

<!--    icon-->
      <div><h1>COLORS</h1></div>
    </div>
        <hr>
    <div id="aligns">
        <div class="box">
           <h2 class="three">Login</h2>
            <br>
            <br>

            <div class="drop">
                <button><h5>Student</h5></button>
                <button><h5>Admin</h5></button>
            </div>

         </div>

        <div class="box">
            <h2 class="three">About</h2>
            <br>
            <br>
            <div class="drop">
                <button><h5>CRAYON TIPS</h5></button>
                <button><h5>Curtis Newbold</h5></button>
            </div>
        </div>
        <div class="box">
            <h2 class="three">Evaluate Work</h2>
            <br>
            <br>
            <div class="drop">
                <button><h5>Enter a Code</h5></button>
                <button><h5>Generate a Code</h5></button>
            </div>

        </div>
    </div>
</div>


<div id="footer">
</div>

</body>
</html>