{%load static%}
<!DOCTYPE html>
<html lang="en">
<! -- http://127.0.0.1:8000/crayonApp/login/ -->

<link rel="stylesheet" href="https://use.typekit.net/uvu6hds.css">
<link rel="stylesheet" type="text/css" href="{% static 'crayonApp/CrayonTip_Style.css' %}">

<head>
    <meta charset="UTF-8">
    <title class="boxshadow">login</title>

</head>

<body style="background-color:#13AF76;">
<br><br>
<div style="width:25em;height:27em;background-color: white; border-radius: 50px;" class = "login">

<h1 class = "center title"> LOGIN </h1>


        <h2> Student Username</h2>
    <div align = center>
        <input class ="center" type="text" name="Uname" id="Uname" placeholder="">
            </div>

     <h2> Password </h2>
    <div align = center>
     <input class ="center" type="Password" name="Pass" id="Pass" placeholder="">
    </div>

    <br>
    <br>
    <h3 class = "column"> New users sign-up here <br>
    forgot password
    </h3>
        <button class = "floatright"> <h2>GO</h2> </button>

    </div>

</body>
</html>