{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
     <link href="{% static 'crayonApp/css/login.css' %}" rel="stylesheet"/>
    <title>Log in</title>
  </head>
  <body>
    <div class="container">
            <div class="col">
              <form class="form-login" action="/login/" method="post">
                    {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <h3 class="text-center">Welcome!</h3>

                    <div class="form-group">
                    {{ login_form.email.label_tag }}
                    {{ login_form.email}}
                    </div>
                    <div class="form-group">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                    </div>

                  <a href="/register/" class="text-success "><ins>Don't have an account yet?</ins></a>
                  <button type="submit" class="btn btn-primary float-right">login</button>
                </div>
              </form>
            </div>
    </div> <!-- /container -->
 
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>