{%load static%}
<!DOCTYPE html>
<html lang="en">
<! -- http://127.0.0.1:8000/crayonApp/login/ -->

<link rel="stylesheet" href="https://use.typekit.net/uvu6hds.css">
<link rel="stylesheet" type="text/css" href="{% static 'crayonApp/CrayonTip_Style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>login</title>

</head>

<body style="background-color:#13AF76;">


<div style="width:30em;height:30em;background-color: white; border-radius: 50px; align-content: center;"  class="center" >


<h1> LOGIN </h1>

    <button> <h1>LOG IN</h1> </button>

</div>

</body>
</html>