<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="../../static/crayonApp/quiz.css">

</head>

<body style="background-color: #E26B37">
<svg width="1500" height="1024" viewBox="0 0 1440 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="1440" height="1024" fill="#E26B37"/>
<rect y="40" width="1440" height="70" fill="white"/>
<rect y="48" width="144" height="53" fill="#75770B"/>
<rect x="148" y="29" width="136" height="92" fill="#E26B37" stroke="white" stroke-width="8"/>
<rect x="288" y="48" width="144" height="53" fill="#C34443"/>
<rect x="432" y="48" width="144" height="53" fill="#D45CA1"/>
<rect x="576" y="48" width="144" height="53" fill="#49A4F8"/>
<rect x="720" y="48" width="144" height="53" fill="#45558C"/>
<rect x="864" y="48" width="144" height="53" fill="#50AB7A"/>
<rect x="1008" y="48" width="144" height="53" fill="black"/>
<rect x="1152" y="48" width="144" height="53" fill="#623784"/>
<rect x="1296" y="48" width="144" height="53" fill="#8A6C50"/>
<rect y="40" width="1440" height="70" fill="white"/>
<rect y="48" width="144" height="53" fill="#75770B"/>
<rect x="148" y="29" width="136" height="92" fill="#E26B37" stroke="white" stroke-width="8"/>
<rect x="288" y="48" width="144" height="53" fill="#C34443"/>
<rect x="432" y="48" width="144" height="53" fill="#D45CA1"/>
<rect x="576" y="48" width="144" height="53" fill="#49A4F8"/>
<rect x="720" y="48" width="144" height="53" fill="#45558C"/>
<rect x="864" y="48" width="144" height="53" fill="#50AB7A"/>
<rect x="1008" y="48" width="144" height="53" fill="black"/>
<rect x="1152" y="48" width="144" height="53" fill="#623784"/>
<rect x="1296" y="48" width="144" height="53" fill="#8A6C50"/>
<rect y="40" width="1440" height="70" fill="white"/>
<rect y="48" width="144" height="53" fill="#75770B"/>
<rect x="148" y="29" width="136" height="92" fill="#E26B37" stroke="white" stroke-width="8"/>
<rect x="288" y="48" width="144" height="53" fill="#C34443"/>
<rect x="432" y="48" width="144" height="53" fill="#D45CA1"/>
<rect x="576" y="48" width="144" height="53" fill="#49A4F8"/>
<rect x="720" y="48" width="144" height="53" fill="#45558C"/>
<rect x="864" y="48" width="144" height="53" fill="#50AB7A"/>
<rect x="1008" y="48" width="144" height="53" fill="black"/>
<rect x="1152" y="48" width="144" height="53" fill="#623784"/>
<rect x="1296" y="48" width="144" height="53" fill="#8A6C50"/>
</svg>

<div id="big">
    <h1>CONTRAST</h1>
    <div id="question"></div>

    <div id="five">
        <button class="choice">0</button>
        <button class="choice">1</button>
        <button class="choice">2</button>
        <button class="choice">3</button>
        <button class="choice">N/A</button>


    </div>



</div>

</body>

</html>