{%load static%}
<!DOCTYPE html>
<html lang="en">
<! -- http://127.0.0.1:8000/crayonApp/login/ -->

<link rel="stylesheet" href="https://use.typekit.net/uvu6hds.css">
<link rel="stylesheet" type="text/css" href="{% static 'crayonApp/CrayonTip_Style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>login</title>

</head>
<body>
<h1>QUIZ PAGE</h1>

    <p> Pull quiz data to display question </p>

    <button> <h1>ANSWER A</h1> </button>
    <button> <h1>ANSWER B</h1> </button>
    <button> <h1>ANSWER C</h1> </button>
    <button> <h1>ANSWER D</h1> </button>

</body>
</html>