<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/crayonApp/css/register.css">     
    <title>Register</title>
    <link rel="stylesheet" href="https://use.typekit.net/uvu6hds.css">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li> <a href="/" style = "color: white; text-decoration: none;"> <h4 style="font-size: 2rem" >home</h3> </a> </li>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
<head>
  
<body style="background-color:black;">
    <div style= " background-color: white; border-radius: 50px;" class="container">
            <div class="col">
                <form class="form-register" action="/register/" method="post">

                    {% if register_form.captcha.errors %}
                        <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                    {% elif message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}

                  {% csrf_token %}
        
                    <br>
                  <h2>User Name:</h2>
                  <div class="form-group">
                      {{ register_form.username}}
                  </div>
                 
                  <h2> Password:</h2>
                  <div class="form-group">
                      {{ register_form.password1 }}
                  </div>

                  <h2>Confirm your Password:</h2>
                  <div class="form-group">
                      {{ register_form.password2 }}
                  </div>

                  <h2>Email Address:</h2>
                  <div class="form-group">
                      {{ register_form.email }}
                  </div>
                 
                 
                  <div>

                <br>
                      <a href="../login"  ><ins>Already have an account?</ins></a>
                      <button type="submit" class="btn btn-primary float-right">Create Account</button>          
                      </div>
    </div> <!-- /container -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <div class = "rainbowfooter">

        <svg width=100% height="25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="-1" width="1920" height="30" fill="#D45CA1"/>
            <rect x="307.214" width="170.118" height="30" fill="#50AB7A"/>
            <rect x="477.332" width="170.118" height="30" fill="#F1F371"/>
            <rect x="1136.79" width="170.118" height="30" fill="#F1F371"/>
            <rect x="966.672" width="170.118" height="30" fill="#92D8CA"/>
            <rect x="796.554" width="170.118" height="30" fill="#49A4F8"/>
            <rect x="647.45" width="213.148" height="30" fill="#E26B37"/>
            <rect x="84.0586" width="223.155" height="30" fill="#C34443"/>
            </svg>
    </div>   
 
</body>




</html>