h1{
    text-align: center ;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:45px;

}

#Crayon{
    position:absolute;
    top: 140px;
    width: 100%;
    border-color:black ;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    justify-content: space-evenly;
    text-align: center;

}

h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 2.25em;
}

html{
    width: 100%;
    height: 100%;
}
div{
    margin:0
}

#aligns{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: auto;
    height: 200px;
       top:450em;
}



.box{
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 10px;
    border-width:10px;
    align-items: center;
    justify-content: center;
    top: 30em;

}

.three{
    width: auto;
    height:auto;
    justify-content: center;
    align-items: center;
    margin:0;
    top: 400px;
    position:absolute;
    top:10em;

}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

#header{
    width:100%;
    height: 8em;
    background-color: black;
    color:white;

}

#footer{
    width:100%;
    height: 8em;
    background-color: black;
}

.drop{
  display: flex;
    flex-direction: column;
    width: 13em;
    height: 162px;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    position:absolute;
    top:25em;


}

h5{
  font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
     font-size: 2.25em;
    color: black;
    line-height: 40px;
    margin:0px;
    padding:0px;
}
h5 a{
    color: black;
}
 button{

    background: #C4C4C4;
    width: 250px;
    height: 70px;
   justify-content: center;
     border-width:0 ;
     margin-bottom: 5px;
 }
 hr{
    position: absolute;
    width: 85em;
    height: 0px;
    left: 120px;
    top: 24.8em;
     color: black;
 }

 .btn {
     position:absolute;
    right:50px ;
     bottom: 50px;

  background-color: white; /* Blue background */
     border-radius:50%;
    width: 50px;
    height:50px;
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 12px; /* Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: white;
}

h8{
  color: white;
    font-size:25px;
    font-family: Futura;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    position:absolute;
    left:2em;
    top:2em;
}

